@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

.logo {
  font-size: 2.2rem;
  text-align: center;
  color: #fff;
  margin: 1rem 0;
  font-weight: bold;
}

.logo span {
  color: #dbdb00;
}

.heading {
  text-align: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-size: 1.6rem;
  padding-left: 15px;
  font-weight: bold;
  color: #555;
}

.list .list-item {
  padding: 7px 16px;
  text-align: left;
}

.viewer-container {
  height: 80vh;
  width: 70vw;
  background-color: #fff;
  margin: 0 auto;
}

.viewer-container * {
  width: 100% !important;
  text-align: left;
}

.text-white {
  color: #fff;
}

.logo-wrap {
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #000;
}


button {
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(18, 168, 145);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
  .site-layout {
    margin-left: 0px !important;
  }
}
.bars-line {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #001529bb;
}

@media (min-width: 1000px) {
  .bars-line {
    display: none;
  }
}
@media (max-width: 400px) {
  .bars-line {
    width: 45px;
    height: 40px;
  }
}
